DISCORD_TOKEN=
GUILD_ID=
SERVER_NAME="SleeplessMC"
SERVER_IP="play.sleepless.community"

APPLICATION_CATEGORY_ID=
APP_LOG_CHANNEL_ID=
GENERAL_CHANNEL_ID=
RULES_CHANNEL_ID=
APPLICANT_ROLE_ID=
MEMBER_ROLE_ID=

APPLICATION_QUESTIONS="What is your Minecraft username?\nHow old are you?\nHow did you find out about the server (reddit, a friend, a discord server, etc)?\nShare a fun fact about yourself.\nHow often do you play MC and what is your playstyle?\nWhy would you like to play on our server?"
RULES_AGREEMENT_TEXT="I have read and understood the rules and ignorance is not an excuse for breaking them."
WELCOME_DETAILS="To link your Minecraft account to your Discord account, follow the instructions given upon joining."

GOOGLE_SERVICE_ACCOUNT_FILE="creds.json"
GOOGLE_SPREADSHEET_NAME="SMC master sheet"
BANNED_PLAYERS_WORKSHEET="Banned Players"
PAYMENTS_WORKSHEET="SD Payments"
DISCIPLINE_WORKSHEET="Discipline"
FINANCES_WORKSHEET="Finances"
PAYMENT_UNIT="diamond block"
DONATION_CURRENCY="$"

DATABASE_PATH="apps.db"
BOT_ACTIVITY="Applications for ${SERVER_NAME}"
ENABLE_JISHAKU=false
